[Unit]
Description=WireGuard Site-to-Site
After=dhcpcd.service dnsmasq.service hostapd.service

[Service]
User=root
Type=simple
RemainAfterExit=yes
ExecStart=/etc/wg.sh
ExecStop=/etc/wgoff.sh
TimeoutSec=30
Restart=on-failure
RestartSec=30
StartLimitInterval=350
StartLimitBurst=10

[Install]
WantedBy=multi-user.target